html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Roboto, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  
  /* africa background */
  background-image: url('../images/backgroundafrica.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.noto {
  font-family: Noto Sans JP;
}

/* i need to insert the name of the website where i got it from */
.filterg4 {
  filter: invert(90%) sepia(17%) saturate(155%) hue-rotate(170deg)
    brightness(94%) contrast(88%);
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
}


.experimental {
  background-color: #00000046;
}

.blackbutton .scrolled {
  background-color: red;
}

.blackbutton {
  background-color: #000;
}

/* hover underline on links with .hoverLine*/
.hoverLine > a {
  position: relative;
}

.hoverLine > a:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 5px;
  display: block;
  margin-top: 35px;
  right: 0;
  background-color: #874cc1;
  transition: 0.4s ease;
}

.hoverLine:hover > a:after {
  width: 100%;
  left: 0;
  background: #874cc1;
}

a:active {
  color: #874cc1;
}